(in-package #:match-client)

(defparameter *base-url* "http://match.example.com/")

(defparameter *local-tag* "HOME")

(defparameter *cache-file* "/home/match-cache")

(defparameter *root-dirs* '())

